
:root {
  --xhg-theme-color: #62db68;
  --van-button-primary-border-color: #62db68;
}


html, body {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul, ol, dl, dd, dt, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 14px;
}

.indent2 {
  text-indent: 2em;
}
