:root {
  --sote-theme-purple: #9D59D8;
  --sote-theme-pink: #D773A5;
  --sote-theme-orange: #DBA26D;
  --sote-theme-yellow: #E5DF9C;
  --sote-theme-green: #8DCA87;
  --sote-theme-blue: #609BD7;
}


html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul,
ol,
dl,
dd,
dt,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 14px;
}

.indent2 {
  text-indent: 2em;
}

.ob {
  backdrop-filter: blur(10px) saturate(10);
}
