@keyframes TurningBorderHalo {
  0% {
    outline: 1px solid lightgreen;
  }

  70% {
    outline: 1px solid lime;
  }

  80% {
    outline: 1px solid green;
  }

  90% {
    outline: 1px solid lime;
  }

  100% {
    outline: 1px solid lightgreen;
  }
}

@keyframes FlourBreath {
  10% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
