:root {
  --sote-theme-color: #44ff44;
  --van-sidebar-selected-border-color: var(--sote-theme-color) !important;
  --van-danger-color: var(--sote-theme-color) !important;
  --van-progress-color: var(--sote-theme-color) !important;
  --van-progress-pivot-background-color: var(--sote-theme-color) !important;
}
